.coah_only-block {
    display: flex;
    flex-direction: column;
    
}
.main-form {
    margin-top: 12vh;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 40vw;
}
.name-input {
    width: 15vw;
    margin-left: 1vw;
    margin-top: 2vh;
}

.description-input {
    
    width: 20vw;
    height: 20vh;
}
.main-content {
    margin-left: 1vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}
