.content[b-sopslnhkh3] {
    display: flex;
    flex-direction: column;
    margin-top: 1.85vh;
}
.filters_block[b-sopslnhkh3]{
    width:100%;
    height:6.94vh;
    border-bottom:solid 1px gray;
}
.filters-input[b-sopslnhkh3]{
    margin-top:2vh;
}
.items_list[b-sopslnhkh3] {
    display: inline-grid;
    grid-template-columns: repeat(5,1fr);
}
.item-row[b-sopslnhkh3] {
    display: flex;
    flex-direction: row;
}
@media (min-width:319px) and (max-width:430px) {
    .items_list[b-sopslnhkh3] {
        margin-left: 3vw;
        display: inline-grid;
        grid-template-columns: repeat(2,2fr);
    }

    .filters_block[b-sopslnhkh3] {
        width: 100%;
        height: 12vh;
        border-bottom: solid 1px gray;
        margin-bottom: 3vh;
    }

    .filter-input-search[b-sopslnhkh3] {
        width: 100%;
    }
}