.page1[b-ajb5ewb1of] {
    
    display: flex;
    flex-direction: column;
}
.main[b-ajb5ewb1of] {
    display: flex;
    flex-direction: row;
    margin-top: 9.259vh;
}
.main-content[b-ajb5ewb1of] {
    margin-left: auto;
    width: 81.469vw;
    height: 90.74vh;
    
}

.main-left_bar[b-ajb5ewb1of] {
    position: fixed;
    background-image: linear-gradient(#000000, lightslategray);
    width: 4.15vw;
    height: 90.74vh;
    transition-property: width;
    transition-duration: 1s;
    z-index: 10;
}

    .main-left_bar:hover[b-ajb5ewb1of] {
        width: 20.5vw;
        font-size:2vh;
        box-shadow:8px 10px 5px 2px rgba(0,0,0,255,.2);
    }
    .main-right_bar[b-ajb5ewb1of] {
        width: 13.59vw;
        height: 90.74vh;
    }

.sidebar[b-ajb5ewb1of] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ajb5ewb1of] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ajb5ewb1of]  a, .top-row .btn-link[b-ajb5ewb1of] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ajb5ewb1of] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .main-right_bar[b-ajb5ewb1of]{
        display:none;
    }
    .main-left_bar[b-ajb5ewb1of]{
        display:none;
    }
    .main-content[b-ajb5ewb1of]{
        margin-left:0;
        width:100vw;
    }
    .top-row:not(.auth)[b-ajb5ewb1of] {
        display: none;
    }

    .top-row.auth[b-ajb5ewb1of] {
        justify-content: space-between;
    }

    .top-row a[b-ajb5ewb1of], .top-row .btn-link[b-ajb5ewb1of] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ajb5ewb1of] {
        flex-direction: row;
    }

    .sidebar[b-ajb5ewb1of] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ajb5ewb1of] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-ajb5ewb1of], article[b-ajb5ewb1of] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
body[b-ajb5ewb1of] {
    
}