.card-top-block {
    display: flex;
    flex-direction: row;
}
card-bottom-block{
    text-align:end;
}
.card-main {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 20vh;
    border: 1px solid black;
}
.img-block{
    background-color:forestgreen;
    width:40%;
    height:10vh;
}
