.exercise-rating-item{
    display:flex;
    flex-direction:column;
    border:1px solid gray;
    width:100%;    
}
.exercise-item-top-text {
    display: flex;
    flex-direction: row;
}
.stars {
    display: flex;
    flex-direction: row;
    text-align:right;
}
span{
    display:block;
}
